h1 {color: #0095b6;}
.with border {border: 2px black;}
IMG {margin: 10px 10px;}
body {background-color: black; color: white;}
.pz {text-align: justify; text-indent: 20px; margin: 20px 0px;}
.icons {text-align: center; margin: 20px 0px;}
a {color: white;}
